.questionBlock {
  margin-bottom: 25px;
  padding: 20px;
  width: 100%;
  background-color: #303030;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.questionBlock__image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;
}

.questionBlock__data {
  padding: 10px;
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questionBlock__name {
  margin-bottom: 10px;
  font-size: 28px;
  border-bottom: 1px solid #808080;
}

@media (max-width: 768px) {
  .questionBlock {
    flex-direction: column;
    align-items: center;
  }

  .questionBlock__data {
    width: 100%;
  }
}